@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root {
    --header:
}

body {
    background-color: #ffc9c5;
    /* Start neutral */
}


/* In your JS, change the body.style.backgroundColor with each click! */